@font-face {
    font-family: Nunito;
    src: url("../Fonts/Nunito/Nunito-VariableFont_wght.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../Fonts/Roboto/Roboto-Regular.ttf");
}
*{
    font-family: Nunito, sans-serif;
    font-weight: 500;
    user-select: none;
    outline: 0;
    box-sizing: border-box !important;
    background-color: transparent;
    margin: 0;
    padding: 0;
}
input{
    outline: none;
}
body{
    transition: 0.3s ease;
}
.money h2:nth-child(odd){
    font-weight: bolder;
    color: #080880;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*Dark  and light mode options*/
.mode{ 
    position: absolute;
    font-weight: bolder;
    bottom: 6px;
    right: 15px;
    width: 55px;
    height: 26.5px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #00ff00;
    transition: .3s;
}
.rg-green{
    background-color: #00ff00;
}
.light-shadow {
    box-shadow: 0rem 2rem 3rem #ffffff2d!important;
}
.dark{
    background-color: #000016e1;
    color: #bbbbbb;
}
.transp{
    background-color: transparent;
}
.white:hover{
    background-color: #bbbbbba6;
    color: #010113;
    transition: .3s;
}

.border-w{
    border-color: #bbbbbb !important;
    color: #bbbbbb !important;
}

.role{
    width: 10px;
    height: 10px;
    padding: 10px;
    border-radius:500px;
    position: absolute;
    background-color: #00ff00;
    left: 2px;
    transition: 0.3s ease-in-out;
}

.translate{
    transform: translateX(calc(55px - 27.5px));
}
.rotate-90{
    transform: rotate(90deg);
}
.fa-sun{
    color: #ffd904;
}
.fa-moon{
    color: #aaa6a6;
}